.esg-image-full {
 /* add */
  max-width: 600px;
  width: 100%;
  height: auto;
  border: 0;
  line-height: 100%;
  outline: none;
  text-decoration: none;
  text-align: center;
}

.esg-round-t {
  border-radius: 4px 4px 0 0 !important;
}
