// This function returns a border variable to be used within a mixin loop
@function border-var($value) {
  @if $value == normal {
    @return $border-color-normal;
  }
  @else if $value == dark {
    @return $border-color-dark;
  }
  @else if $value == mid {
    @return $border-color-mid;
  }
  @else if $value == light {
    @return $border-color-light;
  }
}

// Local border variables
$border-types: (top: t, bottom: b, left: l, right: r);
$border-values: normal, dark, mid, light;

// Iterate through each value in $border-values
@each $value in $border-values {
  // We don't want a modifier on the normal style,
  // so we need a conditional to control that
  @if $value == normal {
    .#{$esg-prefix}-border {
      border: solid 1px border-var($value) !important;
    }
  }
  @else {
    .#{$esg-prefix}-border-#{$value} {
      border: solid 1px border-var($value) !important;
    }
  }

  // Iterate through each type in $border-types
  @each $border, $shorthand in $border-types {
    // We don't want a modifier on the normal style,
    // so we need a conditional to control that
    @if $value == normal {
      .#{$esg-prefix}-border-#{$shorthand} {
        border-#{$border}: solid 1px border-var($value) !important;
      }
    }
    @else {
      .#{$esg-prefix}-border-#{$shorthand}-#{$value} {
        border-#{$border}: solid 1px border-var($value) !important;
      }
    }
  }
}

// Create style for border none on all sides
.#{$esg-prefix}-border-none {
  border: none !important;
}

// Iterate through border sides and create border none styles
@each $border, $shorthand in $border-types {
  .#{$esg-prefix}-border-none-#{$shorthand} {
    border-#{$border}: none !important;
  }
}

// Create style for border radius classes
.#{$esg-prefix}-round {
  border-radius: $border-radius !important;
  &-t {
    border-radius: $border-radius $border-radius 0 0 !important;
  }

  &-b {
    border-radius: 0 0 $border-radius $border-radius !important;
  }

  &-l {
    border-radius: $border-radius 0 0 $border-radius !important;
  }

  &-r {
    border-radius: 0 $border-radius $border-radius 0 !important;
  }
}

// Create the circle class
.#{$esg-prefix}-circle {
  border-radius: 9999px !important;
}
