// Basic Button Styling with colors extracted
.#{$esg-prefix}-button {
  background: #5fcf80;
  border: 18px solid #5fcf80;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.1;
  text-align: center;
  text-decoration: none;
  display: block;
  border-radius: 5px;
  // Since buttons need both pareny and child tags to work effectively we define this wrap class for the parent, typically an achor tag
  &-wrap {
    border-radius: 5px;
    background: #5fcf80;
    text-align: center;
  }
}

// Loop through the different button colors we want to support
@each $color-name, $color in $button-colors {
  .#{$esg-prefix}-button-#{$color-name} {
    background: #{$color};
    border: #{$color};
    @if $color == white {
      color: map-get($brand-colors, "green");
      &-inner {
        background: map-get($text-colors, "white");
      }
    }
    @else {
      color: map-get($text-colors, "white");
      &-inner {
        background: map-get($brand-colors, "green");
      }
    }
  }
}
