.#{$esg-prefix}-body {
  padding-bottom: 7%;
  padding-right: 7%;
  padding-left: 7%;
  padding-top: 7%;
}
//Outlook won't render padding if it's followed by !important

// Iterate through each value in $spacing-sides
@each $type, $side in $spacing-sides {
  // We don't want a modifier on the padding for all sides,
  // so we need a conditional to control that
  @if $type == all {
    // Iterate through each unit inside our $spacing map
    @each $unit, $value in $spacing {
      .#{$esg-prefix}-p-#{$unit} {
        padding: #{$value};
      }
    }
  }
  @else {
    // Iterate through each unit inside our $spacing map
    @each $unit, $value in $spacing {
      // We need to control printing out two properties for
      // the lt and tb case and a single for the others
      @if $type == lr {
        .#{$esg-prefix}-p-#{$type}-#{$unit} {
          padding-left: #{$value};
          padding-right: #{$value};
        }
      }
      @else if $type == tb {
        .#{$esg-prefix}-p-#{$type}-#{$unit} {
          padding-top: #{$value};
          padding-bottom: #{$value};
        }
      }
      @else {
        .#{$esg-prefix}-p-#{$type}-#{$unit} {
          padding-#{$side}: #{$value};
        }
      }
    }
  }
}
