// Local Text Alignment Variables
$text-alignments: left, right, center, justify;


// Headings and text sizes for each header
@for $num from 1 through 4 {
  .#{$esg-prefix}-h#{$num} {
    font-size: text-size($num) !important;
    font-family: $font-family;
    color: map-get($text-colors, dark );
  }
}



// Text Sizing Styles
@each $size, $number in $text-size {
  .#{$esg-prefix}-text-#{$size} {
    font-size: #{$number} !important;
  }
}


// General Text Styles
.#{$esg-prefix}-p {
  font-size: map-get($text-size, 5 );
  line-height: 180%;
}

.#{$esg-prefix}-table {
  margin: 0 auto;
}

#{$esg-prefix}-a, .#{$esg-prefix}-link {
  color: map-get($ui-colors, blue);
  cursor: pointer;
  transition: color 300ms 0s ease;
  text-decoration: none;
  font-weight: bold;
  // @include selected {
  //   color: darken(ui-color(blue), 10%);
  // }
}

.#{$esg-prefix}-regular {
  font-weight: normal !important;
}

.#{$esg-prefix}-bold {
  font-weight: $bold !important;
}

.#{$esg-prefix}-italic {
  font-style: italic !important;
}

.#{$esg-prefix}-caps {
  text-transform: uppercase;
}

.#{$esg-prefix}-code {
  font-family: monospace;
  font-size: 16px;
}

.#{$esg-prefix}-address {
  font-size: map-get($text-size, 6);
}

.#{$esg-prefix}-attribution {
  font-size: map-get($text-size, 7);
}

// List styles
#{$esg-prefix}-ul,
#{$esg-prefix}-ol {
  color: map-get($text-colors, base);
  margin: 0;
  padding: 0 0 0 2rem;
}
.#{$esg-prefix}-list-unstyled {
  list-style: none;
  padding: 0;
}



// Iterate through align types and create the classes
@each $type in $text-alignments {
  .#{$esg-prefix}-text-#{$type} {
    text-align: #{$type} !important;
  }
}
