.esg-button-wrap {
  border-radius: 5px;
  background: #5fcf80;
  text-align: center;
}

.esg-button {
  background: #5fcf80;
  border: 18px solid #5fcf80;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.1;
  text-align: center;
  text-decoration: none;
  display: block;
  border-radius: 5px;
}

.esg-text-color-white {
  color: #ffffff !important;
}
