.wrap-logo {
  width: 192px;
  vertical-align: top;
  border-collapse: collapse;
}
.logo {
  width: 191px;
  height: 44px;
  border: 0;
  line-height: 100%;
  outline: none;
  text-decoration: none;
}
