// Imagery Molecule Styles
.#{$esg-prefix}-webinar-bg {
  background-image: url("https://s3.amazonaws.com/treehouse-email-images/templates/webinar-bg2x.png");
  background-size: cover;
}

.#{$esg-prefix}-image {

  &-full,
  &-full img,
  &-inline {
    width: 100%;
    height: auto;
    border: 0;
    line-height: 100%;
    outline: none;
    text-decoration: none;
    text-align: center;
  }

  &-full,
  &-full img {
    max-width: 600px;
  }

  &-inline {
    max-width: 516px;
  }
  // &-attribution -- We elected to put this in the typography file since it's only adjusting sizing

  &-link {
    border: none;
    margin: 0;
    padding: 0;
  }

}
