.email-example .footer p {
  font-size: 12px !important; }
.email-example .footer a {
  font-size: 12px !important; }
.email-example a {
  font-weight: bold; }
.email-example .bold {
  font-weight: bold !important; }
.email-example a {
  color: #3f8abf;
  cursor: pointer;
  transition: color 300ms 0s ease;
  text-decoration: none;
  font-weight: bold; }

.email-example hr {
  padding: 0;
  margin: 8px 0 8px 0;
  border: none;
  width: 100%;
  height: 1px;
  color: #edeff0;
  background-color: #edeff0; }
.email-example .attribution {
  opacity: 0.6; }
